In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv("fish.csv")

In [12]:
data.sample(5)

      Species  Weight  Length1  Length2  Length3   Height   Width
68     Parkki   145.0     19.8     21.5     24.1   9.7364  3.1571
56  Whitefish   270.0     24.1     26.5     29.3   8.1454  4.2485
82      Perch   110.0     19.0     21.0     22.5   5.6925  3.5550
14      Bream   600.0     29.4     32.0     37.2  14.9544  5.1708
4       Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB