Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
   in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time


def naukarijob(url):
    #at first lets check the requests of the site, if we get responce of 200 then we have to scrap
    request = requests.get(url)
    print("The reponse is :", request)

    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    driver.get(url)
    time.sleep(3)

    #now we have to search the job description and location to search the data
    #there are two search boxes at the starting page
    jobdescription = driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Analyst")

    #i have used find element and searched the element by id and used send_keys method for entering text into the search

    locationinfo = driver.find_element_by_id("qsb-location-sugg").send_keys("Bangalore")

    #here i am searching for jobsin bangalore location
    #and at last i am going to click on search button

    button = driver.find_element_by_xpath("//button[@class='btn']")
    button.click()
    driver.maximize_window()

    #now lets scrap some detais by like job location, experience and others 
    time.sleep(3)
    
    #creating lists for storing the results
    roles_list = []
    comapny_list = []
    location_list = []
    exp_list = []
    
    #here lets start with the titles block here i am using xpath to find webelemunts to fetch job titles pf that page
    #as we can see i have using slicling methd in the for loop to fetch only 10 values 
    # i have used exception handling so that we can execute the code easily with out any errors or exceptions
    
    time.sleep(3)
    
    
    try:
        titles = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
        for title in titles[:10]:
            roles_list.append(title.text)
    except NoSuchElementException:
        pass

    # this is the blockfor comapny details, here  also i have used xpath for fetching

    try:
        company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
        for com in company[:10]:
            comapny_list.append(com.text)
    except NoSuchElementException:
        pass

    #this is the block for location data

    try:
        location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
        for loc in location[:10]:
            location_list.append(loc.text)
    except NoSuchElementException:
        pass


    #this is the block for experience data 

    try:
        experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
        for exp in experience[:10]:
            exp_list.append(exp.text)
    except NoSuchElementException:
        pass
    
    naukari_job1=pd.DataFrame({})
         
    naukari_job1['Role_name']=roles_list

    naukari_job1['Company_name']=comapny_list

    naukari_job1['Location']=location_list
    
    naukari_job1['Experience']=exp_list
    
    return naukari_job1

    naukari_job1.to_csv('naukari_job1.csv')
    

    
naukarijob("https://www.naukri.com/")

The reponse is : <Response [200]>

,Role_name,Company_name,Location,Experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs
2,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,"Mumbai, Bangalore/Bengaluru",12-18 Yrs
3,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
4,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
5,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-9 Yrs
6,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
7,Data Analyst,SA Tech Software (I) Pvt. Ltd.,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",1-3 Yrs
8,Data analyst - Google Analytics,H and M Hennes and Mauritz (P) Ltd.,Bangalore/Bengaluru,4-7 Yrs
9,Senior/Regular Business Analyst / Data Analyst,Luxoft,Bangalore/Bengaluru,3-6 Yrs