Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [30]:
#importing necessary modules
import pandas as pd
from urllib.request import Request, urlopen
import requests
from selenium import webdriver
from selenium.webdriver import chrome
from selenium.common.exceptions import *
import datetime
import time


def jobsalaries(url):
    
    #first lets get the responce from the website weather we can scrap or not so lets start
    response = requests.get(url)


    #getting the driver details 
    driver = webdriver.Chrome('/home/santosh/Downloads/chromedriver_linux64/chromedriver')
    
    driver.get(url)
    
    time.sleep(3)
    
    driver.maximize_window()

    
    #Now lets we have to search for the role Data scientish and location noida and send_keys method sends the details to the textbox
    job_title = driver.find_element_by_id("KeywordSearch").send_keys("Data Scientist")

    #now lets search enter the location we want to enter
    job_loc = driver.find_element_by_id("LocationSearch").send_keys("Noida")

    #now click on the search button

    button = driver.find_element_by_id("HeroSearchButton").click() #click() methods used to click the button
    
    #lets start with fetching company details
    #lets create some lists 
    company_name = []
    average_slalary = []
    max_slalry = []
    min_salary = []
    
    time.sleep(3)
    
    avg = driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')
    for i in avg:
        average_slalary.append(i.text.replace("\n", ""))
        
    name = driver.find_elements_by_xpath('//p[2]')
    for i in name[2:]:
        company_name.append(i.text)
        
    maxi = driver.find_elements_by_xpath('//div/span[2]')
    for i in maxi[5:25]:
        max_slalry.append(i.text.replace('[]', ''))
        
        
    mini = driver.find_elements_by_xpath("//div/span[1]")
    for i in mini[64:83]:
        min_salary.append(i.text.replace('[]', ''))
        
        
    new_job1=pd.DataFrame({})
         
    new_job1['Comapany_name']=company_name[:10]

    new_job1['Average_salary']=average_slalary[:10]

    new_job1['Minimum_salary']=min_salary[:10]
    
    new_job1['Maximum_salary']=max_slalry[:10]
    return new_job1

    new_job1.to_csv('new_job1.csv')

In [31]:
jobsalaries("https://www.glassdoor.co.in/Salaries/index.htm")

               Comapany_name  Average_salary Minimum_salary Maximum_salary
0  Tata Consultancy Services   ₹ 6,14,306/yr          ₹343K        ₹1,250K
1                  Accenture  ₹ 11,46,533/yr          ₹577K        ₹2,213K
2                        IBM   ₹ 8,97,795/yr          ₹586K        ₹2,730K
3         Ericsson-Worldwide   ₹ 7,38,057/yr          ₹355K        ₹1,613K
4                  Delhivery  ₹ 12,39,781/yr          ₹450K       ₹11,622K
5         UnitedHealth Group  ₹ 13,36,142/yr        ₹1,069K        ₹1,520K
6         Valiance Solutions   ₹ 8,15,192/yr          ₹502K        ₹1,465K
7              ZS Associates  ₹ 11,35,221/yr          ₹202K        ₹1,809K
8                EXL Service  ₹ 11,44,243/yr          ₹575K        ₹1,520K
9     Optum Global Solutions  ₹ 14,13,288/yr        ₹1,014K        ₹2,149K